@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    border: 0;
    outline: none;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}